/node_modules
/public/hot
/public/storage
/public/cgi-bin
/storage/*.key
/vendor
.idea
.env
.env.backup
.env.live
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/*.json
storage/*.sql
